<h2 class="text-center page-header">{{model.name}}</h2>


<h2> {{model.body}}</h2>




{{#if isEditing}}

  <form>

    <div class="form-group">
      <label for="name">Enter Author Name:</label>
      {{input id="name" value=model.name class="form-control"}}
      <label for="body">Enter Question:</label>
      {{textarea rows="10" id="body" value=model.body class="form-control" placeholder="Edit Question"}}


    </div>

      <button class="btn btn-success" {{action "save" model}}>Submit New Question</button>
  </form>

{{else}}
  <p class="btn btn-info" {{action "edit"}}> Edit Question</p>
{{/if}}
<hr>
<button {{action "delete"}} class="btn btn-danger"> Delete Question </button>

<div class="row">

  <div class="col-md-4 col-md-offset-1">
    <h4> Answers</h4>
    <ul class="list-unstyled list-group">
      {{#each answer in model.answers}}
        <li class="list-group-item">{{answer.text}} on {{answer.date}}</li>

      {{/each}}
    </ul>
  </div>
  <h2>{{#link-to "new-answer"}}<p class="btn btn-success"> Add New Answer</p>{{/link-to}} </h2>

  <div class="col-md-3">
    <br><br>
    {{outlet "new-answer"}}

  </div>
</div>
